/* Coolors Exported Palette - coolors.co/222222-ffffff-4b4e6d-84dcc6-95a3b3 */

/* HSL */
$color1: rgba(34, 34, 34, 1);
$color2: rgba(255, 255, 255, 1);
$color3: rgba(75, 78, 109, 1);
$color4: rgba(132, 220, 198, 1);
$color5: rgba(149, 163, 179, 1);

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: $color1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $color2;
}

.App-link {
  color: $color4;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
