/* Coolors Exported Palette - coolors.co/222222-ffffff-4b4e6d-84dcc6-95a3b3 */
@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

/* HSL */
$color1: rgba(34, 34, 34, 1);
$color2: rgba(255, 255, 255, 1);
$color3: rgba(75, 78, 109, 1);
$color4: rgb(188, 243, 229);
$color5: rgba(149, 163, 179, 1);
// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }


// .App-header {
//   background-color: $color1;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: $color2;
// }

// .App-link {
//   color: $color4;
// }
// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$grey-dark: $color1;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $color1;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$navbar-background-color: $color1;
$navbar-item-color: $color2;

$title-color: $color2;

// Import only what you need from Bulma
@import '../node_modules/bulma/bulma.sass';
// @import '../node_modules/bulma/sass/utilities/_all.sass';
// @import '../node_modules/bulma/sass/base/_all.sass';
// @import '../node_modules/bulma/sass/elements/button.sass';
// @import '../node_modules/bulma/sass/elements/container.sass';
// @import '../node_modules/bulma/sass/elements/form.sass';
// @import '../node_modules/bulma/sass/elements/title.sass';
// @import '../node_modules/bulma/sass/components/navbar.sass';
// @import '../node_modules/bulma/sass/layout/hero.sass';
// @import '../node_modules/bulma/sass/layout/section.sass';